{{ define "container" }}
{{ $paginator := .Paginate .Site.RegularPages.ByPublishDate 5 }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<ul class="pager">
    {{ if $paginator.HasPrev }}
    <li class="previous">
        <a href="{{ .Paginator.Prev.URL }}">&larr; Précédent</a>
    </li>
    {{ end }}
    {{ if $paginator.HasNext }}
    <li class="next">
        <a href="{{ .Paginator.Next.URL }}">Suivant  &rarr;</a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}